.status-dashboard .ant-card .ant-card-head .ant-card-head-title {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    display: inline-block;
    width: 100%;
  }
  
  .status-dashboard .ant-card .ant-card-body {
    word-wrap: break-word;
    word-break: break-word;
  }
  
  .text-lg {
    font-size: 15px;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  