/* Container styles for Ant Design Charts */
.history-bar-graph-container {
  width: 100%;
  height: 400px;
  background-color: #a8e1c5;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding-bottom: 10px;
  overflow: hidden;
}

/* Tooltip styles for Ant Design Charts */
.g2-tooltip {
  background-color: #072C1C !important;
  color: #d4e09a !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px !important;
  font-size: 14px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}
.g2-tooltip-title {
  color: #d4e09a !important;
}
.g2-tooltip-list-item-value {
  color: #d4e09a !important;
}

/* Loading spinner */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
